.pagination {
  align-items: center;
  display: flex;
  gap: var(--space-8);
}

.paginationBtn {
  align-items: center;
  background-color: var(--color-grey-50);
  border: 1px solid var(--color-grey-900);
  border-radius: var(--border-radius-xsmall);
  color: var(--color-dark);
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  height: 32px;
  justify-content: center;
  padding: 0;
  width: 32px;
}

.paginationBtn:focus,
.paginationBtn:hover {
  color: var(--color-blue-700);
}

.paginationBtn:disabled {
  border-color: currentcolor;
  color: var(--color-grey-400);
  cursor: not-allowed;
  opacity: 0.5;
}

.paginationIcon {
  fill: currentcolor;
  height: 24px;
}

.paginationIconFlip {
  transform: rotate(-180deg);
}

.paginationInfo {
  align-items: center;
  background-color: var(--color-grey-900);
  border-radius: 20px;
  color: var(--color-grey-50);
  display: flex;
  font-size: 10px;
  font-weight: 600;
  height: 20px;
  justify-content: center;
  line-height: 1;
  padding: 6px;
  white-space: nowrap;
}

@media (--medium-viewport) {
  .paginationInfo {
    font-size: 12px;
    height: 24px;
    padding: var(--space-8);
  }
}
