.card {
  margin-bottom: var(--space-8);
}

.cardImageWrapper {
  position: relative;
}

.cardImageWrapperFill {
  aspect-ratio: 2/3;
  max-height: 513px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.cardImage {
  border-radius: var(--border-radius-small);
  opacity: 0.25;
  transform: translate3d(0, 0, 0);
  transition: opacity 200ms ease;
  width: 100%;
}

.cardImageLoaded {
  opacity: 1;
}

.cardImageFill {
  background-color: var(--color-grey-400);
  object-fit: cover;
}

.cardMeta {
  align-items: center;
  display: flex;
  gap: var(--space-8);
  justify-content: space-between;
  padding: var(--space-8) 0;
}

.cardMetaName {
  font-weight: var(--font-weight-medium);
  margin: 0;
}

.cardLink {
  color: var(--color-blue-700);
}

.cardLink:focus,
.cardLink:hover {
  color: var(--color-grey-900);
  text-decoration: none;
}

.cardIcon {
  fill: currentcolor;
  height: 24px;
}
