.gallery {
  padding-top: 72px;
  position: relative;
}

.galleryListShim {
  height: 100vh;
}

.galleryErrorMessage {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.galleryErrorEmoji {
  font-size: 48px;
}

@media (--medium-viewport) {
  .gallery {
    padding-top: 114px;
  }

  .galleryErrorMessage {
    font-size: 28px;
  }

  .galleryErrorEmoji {
    font-size: 64px;
  }
}

@media (--large-viewport) {
  .gallery {
    padding-top: 124px;
  }

  .galleryErrorEmoji {
    font-size: 72px;
  }
}
