.gallery {
  position: relative;
}

.galleryHeader {
  align-items: center;
  background-color: var(--color-grey-50);
  display: flex;
  gap: var(--space-8);
  left: 0;
  margin-bottom: var(--space-16);
  padding: var(--space-8) 0 var(--space-8);
  position: sticky;
  right: 0;
  top: 0;
  z-index: 1;
}

.galleryTitle {
  display: none;
}

.galleryHeaderIcon {
  height: 40px;
  width: 40px;
}

.galleryNav {
  align-items: center;
  display: flex;
  flex: 1;
  gap: var(--space-8);
  justify-content: space-between;
}

.galleryListShim {
  height: 100vh;
}

.galleryErrorMessage {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.galleryErrorEmoji {
  font-size: 48px;
}

@media (--medium-viewport) {
  .galleryHeader {
    gap: var(--space-16);
    margin-bottom: var(--space-24);
    padding: var(--space-24) 0 var(--space-16);
  }

  .galleryHeaderIcon {
    height: 50px;
    width: 50px;
  }

  .galleryNav {
    gap: var(--space-24);
  }

  .galleryErrorMessage {
    font-size: 28px;
  }

  .galleryErrorEmoji {
    font-size: 64px;
  }
}

@media (--large-viewport) {
  .galleryTitle {
    display: block;
    font-size: 24px;
  }

  .galleryErrorEmoji {
    font-size: 72px;
  }
}
